[submodule "sd/model_naruto"]
	path = sd/model_naruto
	url = https://huggingface.co/NiceWang/sd-naruto-tpu
[submodule "sd/float32/model_naruto"]
	path = sd/float32/model_naruto
	url = https://huggingface.co/NiceWang/sd-naruto-tpu-float32
